{% extends "base.html" %}
{% block content %}
<main class="container py-5">
  <section class="card card-body">
    <h1 class="display-1 text-center">Django App</h1>
    <p>Occaecat tempor irure officia pariatur est amet ex deserunt id excepteur anim reprehenderit laborum velit.</p>
    <div class="text-center">
      <a class="btn btn-primary" href="/signup">
        Signup
      </a>
      <a class="btn btn-primary" href="/signin">
        Signin
      </a>
    </div>
  </section>
</main>
{% endblock %}