{%extends 'base.html' %}
{% block content %}
<div class="main container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="text-center display-3 py-3">Tasks</h1>
      <ul class="list-group">
        {% for task in tasks %}
        <li class="list-group-item">
          <header class="d-flex justify-content-between">
            {% if task.important %}
            <h2 class="fw-bold text-success">
              <a href="{% url 'task_detail' task.id %}">{{ task.title }}</a>
            </h2>
            {% else %}
            <h2 class="fw-bold">
              <a href="{% url 'task_detail' task.id %}">{{ task.title }}</a>
            </h2>
            {% endif %}
            <p>{{task.user}}</p>
          </header>
          <p>{{task.description}}</p>
          <p>{{task.date_completed|date:'M j Y:i'}}</p>
          <p>
          </p>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}